/.quarto/
.Rproj.user



########### Esther Update ###########

# Fichiers spécifiques à R
.Rhistory
.gitignore.save

# Exclure tous les dossiers de capsules générés
_site/capsules/*-capsule_files/

# Exclure divers fichiers
*.html
_site/images/*.png
_site/site_libs/pagedtable-1.1/
*.json
