/.quarto/

# R-specific files
.Rproj.user
.Rhistory
.gitignore.save

# Exclude all generated capsule folders
/_site/
/capsules/*-capsule_files/

# Exclude various files
*.html
_site/images/*.png
_site/site_libs/pagedtable-1.1/
*.json