/*-- scss:defaults --*/

// Fonts
@import url(https://fonts.googleapis.com/css?family=JetBrains+Mono:100,400,700);
@import url(https://fonts.googleapis.com/css?family=Barlow:100,400,700);
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap");

$theme-orange: #f69250;
$theme-pastel: #2c1174;
$theme-bg: #fdf6e3;

$font-size-root: 16px;
$font-family-sans-serif: "Barlow", sans-serif;

$h1-font-size: 3rem !default;
$h2-font-size: 2rem !default;
$h3-font-size: 2rem !default;
$h4-font-size: 2rem !default;

$navbar-bg: $theme-orange;

$body-bg: $theme-bg;
$body-color: #4c4a4a;
$link-color: #75aadb;

// Code blocks
$code-block-bg-alpha: -0.8;

$toc-color: $theme-pastel;

// Sidebar on the right
$toc-font-size: 1rem;

$sidebar-bg: $theme-bg;

$callout-border-width: 8px;
$callout-border-color: rgba(0, 0, 0, 0.05) !default;

/*-- scss:rules --*/
.navbar-title {
  font-size: 24px;
  font-weight: bold;
}

.sidebar-item .sidebar-item-container {
  font-size: 1rem;
}

p code:not(.sourceCode),
li code:not(.sourceCode),
td code:not(.sourceCode) {
  background-color: #e6e0cf;
  padding: 1px 2px;
  font-weight: bold;
  line-height: 1.2em;
  border-radius: 8px;
  color: #4c4a4a;
}

:root {
  --callout-text: 1.2rem;
}

body {
  font-size: 1.2rem; /* This will make the font size 18px if $font-size-root is 16px */
}

.callout.callout-style-default {
  div.callout-body,
  div.callout-title-container {
    font-size: var(--callout-text);
  }
}

#quarto-sidebar > *,
nav[role="doc-toc"] > * {
  font-family: "Baloo 2", sans-serif;
}

/* https://quarto.org/docs/output-formats/html-themes.html#sass-variables */
